---
import Logo from '../assets/Logo.svg';
---

<header class="h-min">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-[67px] pt-[40px]" aria-label="Global">
    <a href="#" class="-m-1.5 p-1.5">
      <img class="h-8 w-auto" src={Logo.src} alt="Unclass Logo">
    </a>
    <div class="flex center gap-16">
      <a href="#" class="-m-1.5 p-1.5 text-x text-[#EBF5EE] font-medium">Features</a>
      <a href="#" class="-m-1.5 p-1.5 text-x text-[#EBF5EE] font-medium">Docs</a>
      <a href="#" class="-m-1.5 p-1.5 text-x text-[#EBF5EE] font-medium ">FAQs</a>
    </div>
    
    <button class="bg-[#EBF5EE] text-sm text-[#0F172A] font-medium px-[16px] py-[8px] rounded-full">Join Waitlist</button>
  </nav>
</header>
