---
import { Text } from './react/Text.tsx';
---

<main class="bg-blue-500 grid place-content-center w-screen h-screen bg-linear-to-b from-[#0F172A] to-[#334F90]">
  Hello world! This is the home page.
  <Text/>
</main>