---
import backgroundPattern from '../assets/background-pattern.svg';
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./Logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>UnClass</title>
	</head>
	<body class="grid justify-center relative w-screen h-[4952px] bg-linear-to-b from-[#0F172A] to-[#334F90]">
		<slot />
		  <img class="absolute
      inset-x-0 
      bottom-0
      w-full
      pointer-events-none
      select-none -z-1" src={backgroundPattern.src}/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
</style>
